/* each of these starting with . is a CSS class which has been defined either in .html or .js*/
body {
    font-family:Arial; 
    text-align: center; 
    margin-top: 50px;
    background-color: rgb(146, 130, 130);
}

input {
    /*
    what is padding ? 
    padding is the space between an element's content and its border
     -> padding-left , padding-right , padding-top , padding-bottom 
    */
    padding: 10px;
    width: 200px;
}

.delete-btn {
    padding : 1px; 
    float : right;
    background-color: red;
}
.edit-btn {
    padding : 1px; 
    float : right;
    background-color: blue;
}
.menu-btn {
    padding : 1px;
    float : right;
}
ul {
    list-style : none; 
    padding : 0;
}
li {
    /* how does it know which list-item we are talking about incase there are many of them? => prolly uses classNames similar to the case of buttons*/
    
    border : 2px solid black;
    margin: 10px auto; 
    padding : 10px; 
    width : 300px;
    border-radius : 8px;
    background-color: #f9f9f9;
}
li:hover {
    transform : scale(1.02);
}

.pending {
    background-color: lightyellow;
}
.done {
    background-color: lightgreen;
}
.context-menu {
    position:absolute; 
    display:none;
    background:white;
    border: 1px solid black;
    padding: 5px;
}
.imp-btn {
    float : right;
}